Package: unifiedviews-backend
Version: [[debian-package-version]]
Section: java
Priority: extra
Architecture: all
Maintainer: jmc@eea.sk
Depends: unifiedviews-backend-mysql (>> 2.1) | unifiedviews-backend-pgsql (>> 2.1)
Description: The tool uses data processing pipelines for obtaining, processing, and storing RDF data.
