Package: unifiedviews-backend-shared
Version: [[debian-package-version]]
Section: java
Priority: extra
Architecture: all
Maintainer: jmc@eea.sk
Depends: openjdk-7-jre-headless, tomcat7, debconf (>= 0.5)
Conflicts: unifiedviews-backend-shared (<< 2.0.0)
Description: The unifiedviews's backend binaries. 
