# Local configurations
frontend/src/main/webapp/WEB-INF/config.properties
*.local.xml
.attach*

*.class

# Log files #
*.log

# Eclipse Project Files #
.project
.settings/
.classpath
.pmd

# Netbeans files #
nbactions.xml
nb-configuration.xml

# IntelliJ IDEA files
.idea/
*.iml

# Frontend generated sources

# Build Directories #
target/
bin/

# Package Files #
*.war
*.jar
*.ear
!/frontend/src/main/webapp/VAADIN/themes/UnifiedViewsTheme/icons/arrow_bottom.svg
/frontend/src/main/webapp/VAADIN/
!/frontend/src/main/webapp/VAADIN/themes/UnifiedViewsTheme/
build.bat
eclipse.bat
