# Local configurations
*.local.xml

*.class

# Eclipse Project Files #
.project
.settings/
.classpath
# Netbeans files #
nbactions.xml

# Build Directories #
target/
bin/

# Package Files #
*.war
*.jar
*.ear
