Package: unifiedviews-backend-pgsql
Version: [[debian-package-version]]
Section: java
Priority: extra
Architecture: all
Maintainer: jmc@eea.sk
Depends: unifiedviews-backend-shared (>> 2.1), unifiedviews-backend-shared (<< 2.2), postgresql, debconf (>= 0.5)
Conflicts: unifiedviews-backend-mysql
Description: The postgresql database and settings for unifiedviews's backend.
