.code		{background-color: #f6f9f6;}
.inCode		{font-family:"Courier New", Courier, monospace}
.comment	{color:green}
.module_name{color:blue}
.maven-pom	{background-color: #f6f9f6;}
.maven-cmd	{background-color: #f6f9f6;}
.warn		{background-color: #ffff86;}