<configuration>
	
	<appender name="DB" class="ch.qos.logback.classic.db.VirtuosoAppender">
		<connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
			<driverClass>virtuoso.jdbc4.Driver</driverClass>
			<url>jdbc:virtuoso://localhost:1111/intlib</url>
			<user>dba</user>
			<password>dba</password>
		</connectionSource>
	</appender>


	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>


	<logger name="org.hibernate.type" level="ALL" />
	<logger name="org.hibernate" level="DEBUG" />
	
	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="DB" />
	</root>

</configuration>