Package: unifiedviews-pgsql
Version: [[debian-package-version]]
Section: java
Priority: extra
Architecture: all
Maintainer: jmc@eea.sk
Depends: unifiedviews-backend-pgsql (>> 2.3), unifiedviews-backend-pgsql (<< 2.4), unifiedviews-backend (>> 2.3), unifiedviews-backend (<< 2.4), unifiedviews-webapp-pgsql (>> 2.3), unifiedviews-webapp-pgsql (<< 2.4), unifiedviews-webapp (>> 2.3),  unifiedviews-webapp (<< 2.4)
Description: The tool uses data processing pipelines for obtaining, processing, and storing RDF data.
